@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Patua+One&display=swap');
/* font-family: 'Patua One', cursive;
font-family: 'Didact Gothic', sans-serif; */

*{
    font-family: 'Didact Gothic', sans-serif; 
    margin: 0px;
    padding: 0px;
}
.header-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;

}
.header-container video{
    object-fit: fill;
    width: 100vw;
    height: 100vh;
    z-index: -5;
}
.navbar{
    position: fixed;
    top: 0px;
    width: 100vw;
    opacity: 0.8;
    color: white;
    z-index: 5;
    display: flex;
    background: #000;
}
.navbar p{
    font-family: 'Patua One', cursive;
    word-spacing: 0.3em;
    letter-spacing: 0.1em;
    padding: 8px;
    font-size: 40px;
    flex: 1;
}
.navbar ul{
    
    margin-right: 10px;
    list-style: none;
    font-size: 32px;
}
.navbar li ,a{
    color: white;
    text-decoration: none;
    padding: 8px;
    display: inline-block;
}

.profile-info{
    background: rgba(0,0,0,0.5);
    position: absolute;
    width: 400px;
    height: 500px;
    /* background: white; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    /* margin: -60vh 60% auto 40%; */

}
.profile-info img{
    margin: 8px;
    border: 2px solid white;
    border-radius: 50%;
    width: 200px;
    /* height: 100px; */

}
.profile-notes{
    flex-grow: 1;
    
    font-size: 20px;
    color: white;
}
.social-handles{
    flex-grow: 1;
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-between;
    
}

.social-handles img{
    
    background: white;
    width: 40px;
    height: 40px;
    border: black 2px solid;
}
.about-container{
    width: 100vw;
    min-height: 800px;
    transform: skewY(-3deg) translate(0px,-50px);
    background: linear-gradient(to right,#403B4A,#E7E9BB);
    z-index: 1;
}
.about-section{
    overflow: hidden;
    margin: auto;
    transform: skewY(3deg) translate(0px,70px);
    border: 2px black solid;
    width: 60vw;
    height: 600px;
    text-align: center;
}
.about-section h1{
    font-size: 4rem;
    padding: 2rem;
}
.about-section p{
    font-size: 1.4rem;
    padding: 1rem 10rem;
}